.form {
    font-size: .9em;
}

.form button{
    padding: .4em .6em;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: transparent;
    color: #6ca19e;
    transition: 0.5s;
}

.form button:hover {
    color: #fff;
    background-color: black;
}

.submit {
    display: flex;
    align-items: center;
}
