.task_card {
    display: flex;
    align-items: center;
    column-gap: .7em;
    margin-bottom: 1em;
}

.task_card button {
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 1.1em;   
    color: black; 
    transition: 0.5s;
}

.task_card button:hover {
    color: black;
}

.task_card span {
    width: .7em;
    height: .7em;
    border-radius: 100%;
}

.task_details {
    column-gap: .7em;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.none {
    text-decoration: none;
}

.line_through {
    text-decoration: line-through;
}

.muitoalto{
    background-color: rgb(255, 76, 76);
}

.alto{
    background-color: rgb(255, 194, 81);
}

.médio{
    background-color: rgb(192, 255, 66);
}

.baixo {
    background-color: rgb(131, 131, 255);
}

.tam {
    font-size: 1em;;
}