@media(max-width: 355px){
    .wrap {
        min-height: 400px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.margin_bottom {
    margin-bottom: 2em;
}

.wrap {

    column-gap: 5em;
    max-height: 200px;
    flex-wrap: wrap;
}