.todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
    flex: 1;
    padding: 4em 1em;
}

.todo img {
    margin: auto;
}

.todo_add {
    display: flex;
    align-items: center;
    padding: 2em 0em;
    color: #6ca19e;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.todo_add {
    font-size: 1.2em;
}

@media(max-width: 400px){
    .todo_add {
        font-size: .9em;
    }
}

.todo_add:hover {
    color: black;
}